
.header-first{
    background-color: white;
    display: flex;
    justify-content: flex-end;
    color: #646d77;
    padding-top: 2px;
}

.element{
    margin-left: 1px;
}


.header-second{
    background-color: #1c4d92;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    
}

.header-second p{
    text-transform: uppercase;
    color: white;
    margin-left: 32px;
}

.header-second p:first-child{
    margin-top: 15px;
    margin-bottom: -0.41em;
}

.header-second p:nth-child(even){
    font-weight: bold;
    font-size: 1.25rem;
}

.header-second-img{
    display: flex;
    padding-top: 12px;
}

.header-second-img img{
    margin: 0px 10px;
}

a{
    text-decoration: none;
 }


