<div class="container-fluid">
    <div class="row">
        <div class="col-1 element">
            
        </div>
        <div class="col-10 header-first">
            <div>
                <img src="../../../assets/images/pic-access.png" alt="pic-access">
            </div>
            <div style="font-size: 20px;">
                <p>Accessibilité</p>
            </div>
        </div>
        <div class="col-1">
            
        </div>
    </div>
</div>
    <div style="position: sticky;top: 0;left: 0;">
        <div class="header-second">
            <div>
                <p>Bienvenue sur le portal</p>
                <p>Des allocations familiales</p>
            </div>
            <div class="header-second-img">
                <div>
                    <a href="#">
                        <img style="margin-top: 10px;" src="../../../assets/images/logo_caf_headerCC.png" alt="logo caf">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img style="margin-top: 10px;" src="../../../assets/images/logo_aripa_headerCC.png" alt="logo aripa" width="20px">
                    </a>
                    </div>
                <div>
                    <img style="margin-right: 1.0px;" src="../../../assets/images/filet_headerCC.png" alt="logo filet" width="2px">
                </div>
                <div>
                    <img style="margin-right: 17px;" src="../../../assets/images/logoCNAF.gif" alt="logo CNAF" width="50px">
                </div>
            </div>
        </div>
    </div>

